@tailwind base;
@tailwind components;
@tailwind utilities;

/* styling scrollbar */
/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #444444;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #444444;
    /* border-radius: 5px; */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* global.css */
.container {
  width: 100%;
  max-width: 1366px;    /* or 1200px, 1366px—pick what feels best for your design */
  margin: 0 auto;       /* centers it horizontally */
  padding: 0 1rem;      /* small side-padding so content never touches the viewport edge */
}
